/DoshiiDotNetIntegration/*.suo
bin
obj
DoshiiDotNetIntegration/packages/Microsoft.Bcl.1.1.10/License-Stable.rtf
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/Microsoft.Bcl.Build.1.0.14.nupkg
*.nupkg
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/tools/Uninstall.ps1
*.targets
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/License-Stable.rtf
*.ps1
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/nuget.exe
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/*.nupkg
/DoshiiDotNetIntegration/packages/Microsoft.Bcl.1.1.10
/DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14


*.suo
