/DoshiiDotNetIntegration/*.suo
bin
obj
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/content/portable-net40+win8+sl4+wp71+wpa81/_._
DoshiiDotNetIntegration/packages/AutoMapper.4.1.1/AutoMapper.4.1.1.nupkg
*.dll
DoshiiDotNetIntegration/packages/AutoMapper.4.1.1/lib/dotnet/AutoMapper.xml
*.XML
*._
DoshiiDotNetIntegration/packages/Microsoft.Bcl.1.1.10/License-Stable.rtf
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/Microsoft.Bcl.Build.1.0.14.nupkg
*.nupkg
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/tools/Uninstall.ps1
*.targets
DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14/License-Stable.rtf
*.ps1
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/nuget.exe
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/*.nupkg
/DoshiiDotNetIntegration/packages/AutoMapper.4.2.1
/DoshiiDotNetIntegration/packages/log4net.2.0.3
/DoshiiDotNetIntegration/packages/Microsoft.Bcl.1.1.10
/DoshiiDotNetIntegration/packages/Microsoft.Bcl.Build.1.0.14
/DoshiiDotNetIntegration/packages/Newtonsoft.Json.6.0.4
/DoshiiDotNetIntegration/packages/Newtonsoft.Json.6.0.8
/DoshiiDotNetIntegration/packages/NUnit.2.6.4
/DoshiiDotNetIntegration/packages/NUnitTestAdapter.WithFramework.1.2
/DoshiiDotNetIntegration/packages/RhinoMocks.3.6.1

