/DoshiiDotNetIntegration/*.suo
bin
obj
*.dll
*.XML
*._
*.nupkg
*.targets
*.ps1
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/nuget.exe
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/DoshiiDotNetIntegration.nuspec
/DoshiiDotNetIntegration/DoshiiDotNetIntegration/*.nupkg
